# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
  external_url: !secret hass_external_url
  internal_url: !secret hass_internal_url

http:
  use_x_forwarded_for: true
  trusted_proxies: !secret hass_trusted_proxies

logger:
  default: info

stream:

ffmpeg:

prometheus:
  namespace: myhass

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
script: !include_dir_merge_named scripts/
scene: !include scenes.yaml

# HASS Allows for Automations built through the UI and manually to be merged
# together with modular configuration.
# See: https://www.home-assistant.io/docs/configuration/splitting_configuration/#example-combine-include_dir_merge_list-with-automationsyaml
automation ui: !include automations.yaml
automation manual: !include_dir_merge_list automations/

multiscrape: !include integrations/multiscrape.yaml

# Gas cost tracking and rate monitoring
template: !include_dir_merge_list integrations/
input_number: !include integrations/gas-input-helpers.yaml

google_assistant:
  project_id: !secret google_assistant_project_id
  service_account: !secret google_assistant_service_account
  report_state: true

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  # "Project ID" in the Device Access Console
  project_id: !secret nest_project_id
  # Provide the full path exactly as shown under "Subscription name" in Google Cloud Console
  subscriber_id: !secret nest_subscriber_id

mqtt:
  sensor: !include_dir_merge_list mqtt/

utility_meter: !include utility-meters.yaml 

